body {
  position: relative;
  font-family: var(--texto);
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

body.shadow > :not(.barra-lateral) {
  filter: brightness(80%);
}



header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.dashboard_barra_lateral{
  grid-area: lateral;
  width: 100%;
}

.dashboard{
    grid-template-rows: 1fr;
   grid-template-columns: 0.3fr 1fr;
     grid-template-areas:
    'lateral main';
}


