.main-formulario {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/sddefault.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-formulario > div {
  background-color: white;
  margin: 20px 0px;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: var(--shadow-small);
  border: var(--borde);
  background-image: var(--efectoComic);
  background-size: 8px 8px;
}

.main-formulario h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--rojo);
  font-family: var(--titulo);
  font-size: 2rem;
}

.main-formulario > div > form {
  display: flex;
  gap: 30px;
  flex-flow: column;
  align-items: center;
  width: 60%;
}

.main-formulario input {
  border-radius: 8px;
  border: var(--borde);
  box-shadow: 5px 5px 0 black;
  display: block;
  height: 60px;
  transition: all 100ms ease-out !important;
}

.main-formulario input:focus {
  box-shadow: 8px 8px 0 black;
} 

.main-formulario label {
  font-family: var(--subtitulo);
  display: flex;
  flex-flow: column;
  width: 100%;
  font-weight: 900;
}

.main-formulario button {
  border: var(--borde);
  box-shadow: 3px 3px 0 black;
  padding: 15px 20px;
  background-color: var(--amarrillo);
  font-weight: 900;
  width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 100ms ease-out !important;
}

.main-formulario button:hover {
  background-color: var(--amarrillo);
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 black;
}