header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--borde);
  box-shadow: 0 2px 0 black;
  background-color: var(--rojo);
}

header > nav > ul {
  display: flex;
  list-style: none;
  gap: 30px;
  color: white;
  padding: 0;
}

header > nav > ul > li {
  font-family: var(--subtitulo);
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

header > nav > ul > li::before {
  content: ' ';
  background-color: white;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease !important;
}

header > nav > ul > li:hover::before {
  width: 100%;
}

header > nav > ul > li:hover {
  transform: translate(0, -3px);
}

h1 {
  display: inline-flex;
  font-family: var(--titulo);
  text-transform: uppercase;
  color: var(--amarrillo);
  text-shadow: 4px 4px 0 var(--negro);
  -webkit-text-stroke: 2px var(--negro);
  font-weight: 900;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logotipo {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.logotipo > img {
  display: inline-block;
  min-height: 55px;
  min-width: 55px;
  align-self: center;
}

.bts-header {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
}

.bts-header.invisible{
  display: none;
}

.bts-header > button {
  font-family: var(--subtitulo);
  font-weight: 800;
  border: 3px solid var(--negro);
  box-shadow: var(--shadow);
  font-size: large;
  padding: 3px 20px;
  cursor: pointer;
  transition: all 100ms ease-out !important;
}

.bts-header > button:hover {
  background-color: orange;
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 black;
}

header a:link {
  text-decoration: none;
  color: inherit;
}

header a:visited {
  color: inherit;
}

.menu_hamburguesa{
  background-color: var(--amarrillo);
  border: var(--borde);
  box-shadow: var(--shadow);
  display: none;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
}

.menu_hamburguesa:hover {
  transform: translate(-2px, -2px);
  box-shadow: var(--shadow-hover);
}
.menu_hamburguesa > img {
  width: 100%;
  height: 100%;
}

.usuario{
  color: var(--blanco);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: var(--subtitulo);
}

.usuario.invisible{
  display: none;
}

.usuario > div{
  background-color: var(--amarrillo);
  padding: 12px;
  border-radius: 50%;
  border: var(--borde);
}
