header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--borde);
  box-shadow: 0 2px 0 black;
  background-color: var(--rojo);
  position: relative;
}

header > nav > ul {
  display: flex;
  list-style: none;
  gap: 30px;
  color: white;
  padding: 0;
}

header > nav > ul > li {
  font-family: var(--subtitulo);
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

header > nav > ul > li::before {
  content: ' ';
  background-color: white;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease !important;
}

header > nav > ul > li:hover::before {
  width: 100%;
}

header > nav > ul > li:hover {
  transform: translate(0, -3px);
}

h1 {
  display: inline-flex;
  font-family: var(--titulo);
  text-transform: uppercase;
  color: var(--amarrillo);
  text-shadow: 4px 4px 0 var(--negro);
  -webkit-text-stroke: 2px var(--negro);
  font-weight: 900;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logotipo {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.logotipo > img {
  display: inline-block;
  min-height: 55px;
  min-width: 55px;
  align-self: center;
}

.bts__header {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
}

.bts__header.invisible {
  display: none;
}

.bts__header > button {
  font-family: var(--subtitulo);
  font-weight: 800;
  border: 3px solid var(--negro);
  box-shadow: var(--shadow);
  font-size: large;
  padding: 3px 20px;
  cursor: pointer;
  transition: all 100ms ease-out !important;
}

.bts__header > button:hover {
  background-color: orange;
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 black;
}

header a:link {
  text-decoration: none;
  color: inherit;
}

header a:visited {
  color: inherit;
}

.menu__hamburguesa {
  background-color: var(--amarrillo);
  border: var(--borde);
  box-shadow: var(--shadow);
  display: none;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
}

.menu__hamburguesa:hover {
  transform: translate(-2px, -2px);
  box-shadow: var(--shadow-hover);
}

.menu__hamburguesa > img {
  width: 100%;
  height: 100%;
}

.titulo__hamburguesa {
  margin-top: 10px;
}

.usuario {
  color: var(--blanco);
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: var(--subtitulo);
  border: var(--borde);
  box-shadow: var(--shadow);
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 20px;
}

.usuario:hover {
  transform: translate(-2px, -2px);
  box-shadow: var(--shadow-hover);
}

.usuario.invisible {
  display: none;
}

.usuario > div {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--amarrillo);
  padding: 8px;
  border-radius: 50%;
  border: 2px solid black;
  color: var(--negro);
}

.usuario > p {
  line-height: 1;
  font-size: 1rem;
  letter-spacing: 2px
}

.usuario__opciones {
  position: absolute;
  right: 2%;
  top: 111%;
  border-radius: 16px;
  border: var(--borde);
  background-color: var(--rojo);
}

.section__user{
  position: relative;
}

.usuario__opciones > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: var(--blanco);
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.usuario__opciones > ul {
  margin: 0.8vh 1.5vh;
  padding: 0.6vh 1.2vh;
}

.lista__desplegable {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 1vh;
}