.hero {
  font-family: var(--titulo);
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),
    url(../assets/img/hotdoghero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: var(--borde);
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 4rem;
  text-shadow: 6px 4px 5px rgba(255, 255, 255, 0.267);
  flex-flow: column;
  text-align: center;
}

.hero > button {
  background-color: var(--naranajaFuerte);
  border: var(--borde);
  font-size: x-large;
  font-family: var(--subtitulo);
  padding: 5px 45px;
  box-shadow: 5px 5px 0 black;
}

.hero > button:hover {
  background-color: var(--amarrillo);
}