.tarjetas {
  background-color: var(--blanco);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 300px;
  gap: 35px;
  cursor: pointer;
}

.tarjetas.inicio {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
}

.tarjetas > div {
  border: var(--borde);
  overflow: hidden;
  box-shadow: 5px 5px 0 black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.tarjetas > div:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 black;
}

.tarjetas > div > img {
  position: absolute;
  left: 0;
  object-fit: cover;
  width: 50%;
  height: 100%;
  justify-content: start;
  background-position: center;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.tarjetas > div:hover > img {
  height: 120%;
}

.tarjetas.inicio > div > img {
  width: 100%;
}

.tarjetas > div > div {
  background-image: var(--efectoComic);
  background-size: 6px 6px;
  border-top: 3px solid black;
  position: absolute;
  right: 0;
  width: 50%;
  background-color: var(--naranajaFuerte);
  opacity: 0.85;
  display: flex;
  padding: 10px 20px;
  transition: background-color 250ms ease-out;
}

.tarjetas > div:hover > div {
  background-color: var(--amarrillo);
}

.main_menu > .tarjetas > div > div {
  top: 0;
  bottom: 0;
  border-left: var(--borde);
}

.tarjetas.inicio > div > div {
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  top: none;
}

.tarjetas > div > div > p {
  font-size: large;
}

.tarjetas > div > div > p:first-child {
  margin-right: auto;
}

.tarjetas.inicio > div > div > p {
  font-size: large;
  margin-right: 0px;
}

.main-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}

table {
  box-shadow: 5px 5px black;
}

tr {
  margin: 0px;
  border: 3px solid black;
}

th,
td {
  padding: 15px 20px;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

th {
  background-color: #6b0504;
  color: #f0c62d;
}

tr:hover {
  background-color: #f0c62d;
}

.main_menu {
  padding: 10px 10px;
  display: flex;
  flex-flow: column;
}

.main_menu > div:first-child {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.main_menu label {
  padding: 5px 20px;
  background-color: var(--naranja);
  border: var(--borde);
  display: flex;
  gap: 50px;
  align-items: center;
  background-image: var(--efectoComic);
  box-shadow: var(--shadow);
}

.main_menu label > select {
  border: var(--borde);
}

@media (max-width: 800px) {
  .main-formulario > div {
    width: 90%;
  }

  header {
    padding-bottom: 20px;
  }

  .tarjetas.inicio {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 250px;
  }

  .menu_hamburguesa {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
  }

  .menu_hamburguesa:hover {
    background-color: var(--blanco);
  }

  .bts-header {
    display: none;
  }

  .navbar {
    display: none;
  }

  header {
    justify-content: space-between;
    padding: 1rem 1rem;
  }

  .hero {
    font-size: 45px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }

  .usuario{
    display: none;
  }
}

.barra_lateral {
  position: absolute;
  bottom: 0;
  background-color: var(--rojo);
  height: 100%;
  left: 0;
  display: none;
}

.barra_lateral > ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 15px;
  color: white;
}

.barra_lateral li {
  padding: 10px 20px;
  font-family: var(--subtitulo);
  background-color: var(--rojoFuerte);
  border: var(--borde);
  border-color: var(--negro);
  box-shadow: var(--shadow);
  transition: all 175ms ease-out;
}

.barra_lateral li:hover {
  transform: translate(-2px, -2px);
  background-color: var(--amarrillo);
  box-shadow: var(--shadow-hover);
  color: var(--negro);
}

.barra_lateral hr {
  width: 100%;
}

.lateral-formulario{
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.lateral-formulario > li{
  text-align: center;
  background-color: var(--blanco);
  color: var(--negro);
  font-weight: 1000;
  box-shadow: var(--shadow);
}

.lateral-formulario > li:hover{
  transform: translate(3px, 3px);
  background-color: var(--naranja);
  box-shadow: none;
}

.barra_lateral a {
  color: inherit;
  text-decoration: none;
}

.barra_lateral.visible {
  width: 75%;
  display: block;
}

.salir {
  background-color: var(--amarrillo);
  border: var(--borde);
  box-shadow: var(--shadow);
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--titulo);
  transition: all 120ms ease-out;
}

.salir:hover {
  background-color: var(--blanco);
  transform: translate(+3px, +3px);
  box-shadow: none;
}

.superior_barra{
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.superior_barra > h1{
  margin-right: auto;
}

.invisible{
  display: none;
}

.usuario_opciones{
  position: absolute;
  right: 2%;
  top: 111%;
  border-radius: 16px;
  border: var(--borde);
  background-color: var(--rojo);
}

.usuario_opciones > ul{
  padding: 0;
  margin: 0;
  list-style: none;
  color: var(--blanco);
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.usuario_opciones > ul{
  margin: 5px 10px;
  padding: 4px 8px;
}
