.tarjetas {
  background-color: var(--blanco);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 300px;
  gap: 35px;
}

.tarjetas.inicio {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
}

.tarjetas > div {
  border: var(--borde);
  box-shadow: 5px 5px 0 black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.tarjetas > div > img{
  position: absolute;
  left: 0;
  object-fit: cover;
  width: 50%;
  height: 100%;
  justify-content: start;
  background-position: center;
  cursor: pointer;
}

.tarjetas.inicio > div > img{
  width: 100%;
}

.tarjetas > div > div {
  background-image: var(--efectoComic);
  background-size: 6px 6px;
  position: absolute;
  right: 0;
  width: 50%;
  background-color: var(--naranajaFuerte);
  opacity: 0.85;
  display: flex;
  padding: 10px 20px;
  border-top: var(--borde);
}

.main_menu > .tarjetas  > div > div{
  top: 0;
  bottom: 0;
  border-left: var(--borde);

}


.tarjetas.inicio > div > div {
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  top: none;
}

.tarjetas > div > div > p {
  font-size: large;
}

.tarjetas > div > div > p:first-child {
  margin-right: auto;
}

.tarjetas.inicio > div > div > p {
  font-size: large;
  margin-right: 0px;
}

.main-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}

table {
  box-shadow: 5px 5px black;
}

tr {
  margin: 0px;
  border: 3px solid black;
}

th,
td {
  padding: 15px 20px;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

th {
  background-color: #6b0504;
  color: #f0c62d;
}

tr:hover {
  background-color: #f0c62d;
}


.main_menu {
  padding: 10px 10px;
  display: flex;
  flex-flow: column;
}

.main_menu > div:first-child {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.main_menu label {
  padding: 5px 20px;
  background-color: var(--naranja);
  border: var(--borde);
  display: flex;
  gap: 50px;
  align-items: center;
  background-image: var(--efectoComic);
  box-shadow: var(--shadow);
}

.main_menu label > select {
  border: var(--borde);
}


@media (max-width: 800px) {
  .main-formulario > div {
    width: 90%;
  }

  header {
    padding-bottom: 20px;
  }

  .tarjetas.inicio {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 250px;
  }

  .menu_hamburguesa{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bts-header{
    display: none;
  }

  .navbar{
    display: none;
  }

  header{
    justify-content: space-between;
    padding: 1rem 1rem;
  }

  .hero{
    font-size: 45px;
  }

}


.barra_lateral{
  position: absolute;
  bottom: 0;
  background-color: var(--rojo);
  height: 100%;
  left: 0;
  display: none;
}

.barra_lateral > ul{
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 10px;
  color: white;
} 

.barra_lateral li{
    padding: 10px 20px;
    font-family: var(--subtitulo);
    background-color: var(--rojoFuerte);
    border: var(--borde);
}

.barra_lateral hr{
  width: 100%;

}

.barra_lateral > ul :nth-last-child(-n + 2) {
  text-align: center;
  background-color: var(--amarrillo);
  color: var(--negro);
  font-weight: 1000;
  box-shadow: var(--shadow);
}



.barra_lateral > ul :nth-last-child(-n + 2):hover {
  transform: translate(-2px, -2px);
  box-shadow: var(--shadow-hover);
}


.barra_lateral li:hover{
  background-color: var(--naranja);
}

.barra_lateral  a{
  color: inherit;
  text-decoration: none;
}


.barra_lateral.visible{
  width: 75%;
  display: block;
}


